@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn ($width, $height) {
  @include flex-center;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background-color: #ff7d01;
    cursor: pointer;


    .buttonIcon {
      filter: invert(1);
    }
  }

}

@mixin btn-icon ($width, $height) {
  width: $width;
  height: $height;
  transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  user-select: none;

  &:hover {
    filter: invert(1);
    cursor: pointer;
  }
}

.pagination {
  @include flex-center;
  gap: 12px;

  p {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
}

.paginationButton {
  @include btn(40px, 40px);

  .buttonIcon {
    @include btn-icon(16px, 16px);
    user-select: none;
  }
}