.container {
  background-color: white;
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 20px auto;
}

.contentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.customerId {
  color: rgba(0,0,0,.85);
  font-weight: 600;
  /* font-size: 32px; */
}

.buttonFeature {}

.buttonFeature p {
  color: rgb(105, 105, 105);
  text-decoration: none;
  font-size: 16px;
}

.buttonFeature div:hover {
  color: rgb(105, 105, 105);
  text-decoration: underline;
  cursor: pointer;
}

.editButton {
  display: flex;
  align-items: center;
  gap: 8px;
  user-select: none;
}

.userDetailEdit {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-end;
}

