@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$heightFoodItemCard: 300px;
$borderRadiusFoodItemCard: 24px;
$fullWidth: 100vw;
$fullHeight: 100vh;

.menuDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  gap: 12px;
}

.menuTitleDiv {
  display: flex;
  align-items: center;
  gap: 12px;
}

.foodType {
  color: #ff7d01;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 32px;
}

.addButtonDiv {
  @include flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.foodItemsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: calc($fullWidth * 0.02);
  align-items: center;
}

.foodItemCard {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  width: calc($fullWidth * 0.16);
  max-width: 240px;
  min-height: 280px;
  height: calc($fullWidth * 0.3);
  max-height: fit-content;
  border: 1px solid #e0e0e0;
  border-radius: $borderRadiusFoodItemCard;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:hover {
    .foodImg {
      transform: scale(1.1);
    }

    .foodName {
      text-decoration: underline;
    }
  }
}

.foodImageDiv {
  width: 100%;
  height: 55%;
  max-height: 55%;
  background-color: transparent;
  border-radius: $borderRadiusFoodItemCard $borderRadiusFoodItemCard 0 0;
  overflow: hidden;
}

.foodImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $borderRadiusFoodItemCard $borderRadiusFoodItemCard 0 0;
  transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

// .foodImg:hover {
//   transform: scale(1.1);
// }

.foodInfo {
  text-align: center;
  padding: 4px 12px 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foodName {
  font-size: 16px;
  font-weight: 900;
  color: #ff7d01;
}

.foodPrice {
  font-size: 16px;
  font-weight: 900;
  color: #333333;
}

.currency {
  font-size: 16px;
  font-weight: 900;
  text-decoration: underline;
}

.foodButtonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodButtonDiv .foodButton {
  @include flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.foodButton {
  @include flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background-color: #ff7d01;
    cursor: pointer;

    .buttonIcon {
      filter: invert(1);
    }
  }

}

.buttonIcon {
  width: 20px;
  height: 20px;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}