@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$heightFoodItemCard: 300px;
$borderRadiusFoodItemCard: 24px;
$fullWidth: 100vw;
$fullHeight: 100vh;

.container {
  width: 100%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.menuDiv {
  display: flex;
  flex-direction: column;
  margin-bottom: 56px;
  gap: 12px;
}

.menuTitleDiv {
  display: flex;
  align-items: center;
  gap: 12px;
}

.foodType {
  color: #ff7d01;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 32px;
}

.addButtonDiv {
  @include flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.foodItemsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
}

.foodItemCard {
  display: flex;
  flex-direction: column;

  flex: 1 1 220px;
  max-width: 240px;

  min-height: 300px;
  border: 1px solid #e0e0e0;
  border-radius: $borderRadiusFoodItemCard;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;

  &:hover {
    .foodImg {
      transform: scale(1.1);
    }

    .foodName {
      text-decoration: underline;
    }
  }
}

.foodImageDiv {
  width: 100%;
  height: 240px;
  border-radius: $borderRadiusFoodItemCard $borderRadiusFoodItemCard 0 0;
  overflow: hidden;
  flex-shrink: 0;
}

.foodImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

.foodInfo {
  text-align: center;
  padding: 4px 12px 12px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foodName {
  font-size: 16px;
  font-weight: 900;
  color: #ff7d01;
}

.foodPrice {
  font-size: 16px;
  font-weight: 900;
  color: #333333;
}

.currency {
  font-size: 16px;
  font-weight: 900;
  text-decoration: underline;
}

.foodButtonDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodButtonDiv .foodButton {
  @include flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.foodButton {
  @include flex-center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background-color: #ff7d01;
    cursor: pointer;

    .buttonIcon {
      filter: invert(1);
    }
  }

}

.buttonIcon {
  width: 20px;
  height: 20px;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.sidebarContainer {
  width: calc(100vw * 0.3);
  background-color: transparent;
  height: 100%;
  margin-left: 32px;
}

.sidebarContent {
  width: 30%;
  height: fit-content;
  max-height: calc($fullHeight - 132px);
  background-color: white;
  margin: 12px 16px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  padding: 16px 20px 20px;
  position: fixed;
  top: 100px;
  right: 0;
  overflow-y: scroll;
  transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);

  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge má»›i, Opera */
  }
}