$colorHoverButton: #ff7d01;

.headerContainer {
  width: 100%;
  height: 100px;
  background-color: transparent;
  padding: 16px 16px 12px 16px; 
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
}

.subHeaderContainer1 {
  width: 264px;
  height: 100%;
  background-color: transparent;
  padding-right: 24px;
}

.subHeaderContainer2 {
  flex: 1;
  height: 100%;
  background-color: transparent;
}

.header1 {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
}

.header2 {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logoDiv {
  width: 148px;
  height: 56px;
  // background-color: #f4b966;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transition: all 0.25s cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background-color: $colorHoverButton;
    cursor: pointer;
  }
}

.iconDiv {
  width: 40px;
  height: 40px;
  // background-color: #f4b966;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background-color: $colorHoverButton;
    cursor: pointer;
  }
  &:hover .icon {
    filter: invert(1);
  }
}

.icon {
  width: 20px;
  height: 20px;
  opacity: 0.7;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}

.logo {
  width: 120px;
  height: 64px;
}

.searchDiv {
  display: flex;
  align-items: center;
}

.searchInput {
  background-color: #fff;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  color:rgba(0, 0, 0, 0.7);
  min-width: 300px;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  margin-left: 8px; 
  border-radius: 100px;

  &::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
  }

  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
  }

  &:hover {
    border: none;
  }
}

.profileDiv {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatarDiv {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar {
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  // border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background-color: #ff7d01;
    cursor: pointer;

    .buttonIcon {
      filter: invert(1);
    }
  }

}

.buttonIcon {
  width: 20px;
  height: 20px;
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
}