@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin btn ($width, $height) {
  @include flex-center;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

  &:hover {
    background-color: #ff7d01;
    cursor: pointer;


    .buttonIcon {
      filter: invert(1);
    }
  }

}

@mixin btn-icon ($width, $height) {
  width: $width;
  height: $height;
  transition: all 0.1s cubic-bezier(0.42, 0, 0.58, 1);
  user-select: none;

  &:hover {
    filter: invert(1);
    cursor: pointer;
  }
}

.container {
  width: 100%;
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.header {
  @include flex-align-center;
  gap: 12px;

  .title {
    font-size: 32px;
    font-weight: 1000;
    color: #ff7d01;
  }

  .filterButton {
    @include btn(32px, 32px);
    position: relative;

    .buttonIcon {
      @include btn-icon(16px, 16px);
    }

    .filterDropdown {
      position: absolute;
      top: 0;
      left: 36px;

      /* Style cho dropdown */
      background: white;
      border: 1px solid #ddd;
      border-radius: 16px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      list-style: none;
      min-width: 150px;
      overflow: hidden;

      li {
        padding: 10px 15px;
        cursor: pointer;
        color: #ff7d01;
        font-weight: 800;
        font-size: 16px;
        transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);

        &:hover {
          background-color: #ff7d01;
          color: white;
        }
      }
    }
  }
}


.customerList {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 20px;
}

.customerCard {
  @include flex-align-center;
  flex: 1 1 calc(50% - 20px); // Chia 3 cột, trừ đi gap
  min-width: 400px; // Chiều rộng tối thiểu trước khi xuống dòng
  max-width: calc(50% - 20px);
  border-radius: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  cursor: pointer;
  gap: 20px
}

.avatar {
  background-color: rgb(211, 211, 211);
  border-radius: 50%;
  width: 112px;
  height: 112px;
  overflow: hidden;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  flex: 1;
  color: black;
  font-size: 16px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.pagination {
  @include flex-center;
  gap: 12px;

  p {
    font-size: 16px;
    font-weight: 600;
    color: black;
  }
}

.paginationButton {
  @include btn(40px, 40px);

  .buttonIcon {
    @include btn-icon(16px, 16px);
    user-select: none;
  }
}