@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/* reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  font-family: "Nunito", sans-serif;
}

body {
  // padding-right: 8px;
  background-color: #f5f5f5;
}


.mt-8 { margin-top: 8px; }
.mt-16 { margin-top: 16px; }
.mt-24 { margin-top: 24px; }
.mt-32 { margin-top: 32px; }

.mb-8 { margin-bottom: 8px; }
.mb-16 { margin-bottom: 16px; }
.mb-24 { margin-bottom: 24px; }
.mb-32 { margin-bottom: 32px; }

.mr-8 { margin-right: 8px; }
.mr-16 { margin-right: 16px; }
.mr-24 { margin-right: 24px; }
.mr-32 { margin-right: 32px; }

.ml-8 { margin-left: 8px; }
.ml-16 { margin-left: 16px; }
.ml-24 { margin-left: 24px; }
.ml-32 { margin-left: 32px; }

.flex { display: flex; }
.gap-8 { gap: 8px; }
.gap-12 { gap: 12px; }
.gap-16 { gap: 16px; }
.gap-24 { gap: 24px; }
.gap-32 { gap: 32px; }
.flex-col { flex-direction: column; }
.justify-between { justify-content: space-between; }
.align-end { align-items: flex-end; }
.align-center { align-items: center; }

.text-center { text-align: center; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-24 { font-size: 24px; }
.font-size-32 { font-size: 32px; }

.font-weight-600 { font-weight: 600; }

.p-0 { padding: 0; }
.m-0 { margin: 0; }

.width-100 { width: 100%; }
.width-16px { width: 16px; }
.width-18px { width: 18px; }
.height-16px { height: 16px; }
.height-18px { height: 18px; }

.opacity-6 { opacity: .6; }

.position-relative { position: relative; }

.fade-in {
  animation: fadeIn 0.5s cubic-bezier(0.42, 0, 0.58, 1) forwards;
}

.fade-in-up {
  animation: fadeInUp 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.fade-in-right {
  animation: fadeInRight 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.shake {
  animation: shake 0.15s;
}

.spinner-white {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(255, 255, 255, 0.332);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: auto;
}

.spinner-black {
  width: 24px;
  height: 24px;
  border: 2px solid rgba(104, 104, 104, 0.332);
  border-top-color: #080808;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: auto;
}

.spinner-large {
  width: 72px;
  height: 72px;
  border: 2px solid rgba(104, 104, 104, 0.332);
  border-top-color: #080808;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: auto;
}

/* Class để nổ */
.boom {
  animation: boomEffect 0.4s ease-out 
}

.boom-small {
  animation: boomSmall 0.3s ease-out
}

.slide-from-right {
  animation: slideFromRight 0.4s ease-out 
}

.slide-from-left {
  animation: slideFromLeft 0.3s ease-out 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(10px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: scaleX(0.1);
    transform-origin: right;
    opacity: 1;
  }

  70% {
    transform: scaleX(1.05);
    transform-origin: right;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: right;
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: scaleX(0.5);
    transform-origin: left;
    opacity: 1;
  }

  70% {
    transform: scaleX(1.1);
    transform-origin: left;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-16px);
  }

  50% {
    transform: translateX(16px);
  }

  75% {
    transform: translateX(-16px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes boomEffect {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes boomSmall {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    transform: scale(1.15);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}